h1 {
	font-family: 'Fredericka the Great', cursive;
	font-size: 60px;
}

.top-section {
	background-color: #000000;
	width: 100% !important;
	padding-top: 90px;
	text-align: center;
}

.container {
	background-color: #000000;
	border-radius: 25px;
    background-color: lightgray;
    background-position: left top;
    background-repeat: repeat;
	width: 25%;
}

.control-label {
	color: #000000 !important;
	text-align: center !important;
}

input, label, button {
	width: 50% !important;
	margin-left: 23% !important;
}

form {
	margin-top: 5% !important;
	margin-bottom: 5% !important;
}

body {
	background-image: url("http://img.photobucket.com/albums/v504/F12Bwth2/Calibration/1x1PixelPattern.png");
	background-attachment: fixed;
}

hr {
	padding: 0 !important;
	margin: 0 !important;
	border-top: 3px double #8C8B8B;
}